[package]
name = "sql-insight-cli"
description = "SQL Insight is a tool to parse SQL queries and provide insight into the queries."
documentation = "https://docs.rs/sql-insight-cli/"
keywords = ["sql", "query", "cli", "insight", "parser"]
include = [
    "src/**/*.rs",
    "Cargo.toml",
]
readme = "README.md"
version = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
license = { workspace = true }
authors = { workspace = true }

[[bin]]
name = "sql-insight"
path = "src/main.rs"

[dependencies]
sql-insight = { path = "../sql-insight", version = "0.1.0" }
clap = { version = "4.4.18", features = ["derive"] }

[dev-dependencies]
assert_cmd = "2.0.13"
predicates = "3.1.0"
tempfile = "3.1.0"
tokio = { version = "1.36.0", features = ["full"] }
